body{
    background-color: #0AF2A4;
    font:16px/24px "Open Sans", Arial, sans-serif;
    color:white;
}
#navtitle{
    font-size: 30px;
    color: #ffffff;
    position:relative;
    top:15px;
    left:30px;
}
#divBody{
    display: block; 
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    width:1004px;
}

h1{
    font-weight: bold;
    font-size: 30px;
    color: #4E5964;
}
h2{
   font-weight: bold;
    font-size: 22px;
    color: #4E5964; 
}
h3{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}
h4{
    font-weight: bold;
    font-size: 15px;
    color: #069867;
    margin-top:0px;
}

a:visited{
    text-decoration: none;
    color:#e4f1ff;
}
a:link{
    text-decoration: none;
    color:#e4f1ff;
}

a:hover{
   font-weight: bold; 
}
p{
    padding-left:4px;
}
input:focus{
   outline: none;
   border-color:#ccffcc;
   box-shadow: 0 0 10px #ccffcc;
}
nav li{
    display: inline;
    font-size:15px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 2px solid #ffffff;
}
nav li:last-child{
    border-right:none;
}
nav li.active{
    font-weight: bold;
}

#favorite
{
 padding-left:10px;  
 border-bottom: 2px solid white; 
}
.nameanddate{
    position: relative;
    bottom: 80px;
}
.nameanddate .icon:before{
    content: url(img/iconauser.png);
}
#favorite .icon:before{
    content: url(img/iconauser.png);
    position:relative;
    top:4px;
}

#groups .icon:before{
    content:url(img/icongrops.png);
    position:relative;
    top:4px;
}
#groups
{
   padding-left:10px;  
 border-bottom: 2px solid white;  
}
#favorite li, #groups li{
    list-style-type: none;
}
#groups ol, #favorite ol{
    padding:0px;
}
 #sidebar1
{
    background-color:#069867;
    min-height: 300px;
    width:198px;
    float:left;
    border-top:2px solid white;  
    border-left:2px solid white;
}
#content{
    min-height: 300px;
    width:802px;
    background-color: #e2fff5;
    display:inline-block;
    border-left:2px solid white;
    border-top:2px solid white;
}
#content div{ /*Definisco che dentro qualsiasi div all'interno di content le scritte devono essere del colore indicato'*/
    color:#000000;
}
#headtitle{
    width:198px;
    min-height: 56px;
    float:left;
    font-weight: bold;
    border-left:2px solid white;
    border-top:2px solid white;
    background-color:#069867;
}
#linklist{
    width:598px;
    display:inline-block;
    border-left:2px solid white;
    border-top:2px solid white;
    border-right:2px solid white;
    background-color:#069867;
}
#blocklogin{
    float:right;
    width:200px;
    min-height:56px;
    border-right:2px solid white;
    border-top:2px solid white;
    background-color:#069867;
}
#logoutblock{
    margin-left:40px;
    margin-top:15px;
}
#logoutblock img{
    display: inline;
    position:relative;
    top:2px;
}
#logoutblock h4{
   display: inline;
   color:#ffffff;
}
#logoutblock a{
    text-decoration: underline;
}

#clear{
    clear:both;
}
.posted{
    border-bottom:2px solid #9bd2bf;
    border-left:1px solid white;
    border-right:1px solid white;
    background-color: #e2fff5;
    padding-top: 0px;
}
.postedcontent{
    padding-left:20px;
    padding-bottom:5px;
}
#content a:link, #content a:visited{
    color:#069867; /*SE NON CAMBIO NON SI VEDE CON LO SFONDO CHE HO SCELTO*/
}
.profile{
    padding-left:10px;
}
.profile div{
    display: inline-flex;
    padding-top:5px;
}
#desc_content{
     background-color: #e2fff5;
}
#desc_content h2{
    margin-top: 0px;
}
.datepost{
    padding-left:5px;
}
.opzionale2{
    padding-left:4px;
}
#log{
    width:200px;
    padding-top:50px;
    margin-left:auto;
    margin-right:auto;
}
#log input{
    width:85%;
    border-radius: 5px;
}
#log button{
    width:87%; /*Il bottone risulta leggermente + corto degli imputs*/
    background: rgba(6, 152, 103, 0.38);
    border-radius: 5px;
    box-shadow: inset -1px -2px 4px 0px rgb(155, 234, 208);
}
#log div{
    padding-bottom:4px;
}
/*SE LA LARGHEZZA DELLA PAGINA E' COMPRESA FRA 480px e 1024:*/
@media only screen and (max-width:1024px) and (min-width:480px)
{   
    #divBody{
        width:806px;
    }
    #linklist{
    width:470px;
    }
    #content{
    
    width:604px;
}
    #blocklogin{
    width:130px;
}
    #logoutblock{
    margin-left: 10px; 
    margin-top:0px;
}
}
@media only screen and (max-width:480px)
{
    /*SE LA LARGHEZZA DELLA PAGINA E' Minore o UGUALE A 480px:*/
    #divBody{
        width:430px;
    }
    #linklist{
        width:400px;
    }
    #headtitle{
        width:400px;
        border-right:2px solid white;
        text-align:center;
        float:none;
    }
    #sidebar1{
        width:auto;
        min-height:0px;
    }
    #content{
        width:402px;
    }
    #favorite{
 
        width:390px; /*In tutto 400, 10 di padding*/
        border-right:2px solid white;
    }
    #groups{
        width:390px;
        border-right:2px solid white;
    }
    h3{
        margin-top:0px;
    }
    #logoutblock{
        margin-left: 150px;
        margin-top:0px;
    }
    #blocklogin{
        width:400px;
        float:none;
        min-height: 20px;
        border-left:2px solid white;
    }
}
