<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>amm.nerdbook.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo_Serv</servlet-name>
        <servlet-class>amm.nerdbook.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendData</servlet-name>
        <servlet-class>amm.nerdbook.sendData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/M2/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BachecaS</servlet-name>
        <servlet-class>amm.nerdbook.bachecaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BachecaS</servlet-name>
        <url-pattern>/M2/Bacheca</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <jsp-file>profilo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profilo_Serv</servlet-name>
        <url-pattern>/Profilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo_Serv</servlet-name>
        <url-pattern>/M2/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendData</servlet-name>
        <url-pattern>/M2/sendData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
